[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = git@github.com:jamessan/vim-gnupg.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "bundle/vim-ansible-yaml"]
	path = bundle/vim-ansible-yaml
	url = git@github.com:chase/vim-ansible-yaml.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/deoplete.nvim"]
	path = bundle/deoplete.nvim
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "bundle/deoplete-go"]
	path = bundle/deoplete-go
	url = git@github.com:zchee/deoplete-go.git
[submodule "bundle/vim-racer"]
	path = bundle/vim-racer
	url = git@github.com:racer-rust/vim-racer.git
[submodule "bundle/denite.vim"]
	path = bundle/denite.vim
	url = git@github.com:Shougo/denite.nvim.git
[submodule "bundle/AnsiEsc.vim"]
	path = bundle/AnsiEsc.vim
	url = git@github.com:vim-scripts/AnsiEsc.vim.git
