snippet configmap
corev1.ConfigMap{
	TypeMeta: metav1.TypeMeta{
		APIVersion: "v1",
		Kind:       "ConfigMap",
	},
	ObjectMeta: metav1.ObjectMeta{
		Name:        "",
		Namespace:   "default",
		Annotations: map[string]string{},
		Labels:      map[string]string{},
	},
	Data:       map[string]string{},
	BinaryData: map[string][]byte{},
}
endsnippet
