snippet projects "## Projects using"
## Projects using `!p snip.rv = os.path.basename(os.getcwd())`

### Test libraries

- https://github.com/giantswarm/

### Libraries

- https://github.com/giantswarm/

### Services & operators

- https://github.com/giantswarm/

endsnippet
